
<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @garden.banner_url %>);">
  <div class="container">
    <h1><%= @garden.name %></h1>

  </div>
</div>

<br>

<div class="container">
  <div class="cards">
    <% @garden.plants.each do |plant| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= plant.image_url %>)">
        <%= plant.name %>
        <%= link_to plant_path(plant), method: :delete, data: { confirm: 'Sure?'}, class: "delete-btn" do %>
          <%= icon('fas', 'trash') %>
        <% end %>
        <div class="tags-list">
          <% plant.tags.each do |tag| %>
            <span><%= tag.name %></span>
          <% end %>
          <%= link_to "+", new_plant_plant_tag_path(plant), class: "add-tag-btn" %>
        </div>
      </div>
    <% end %>
  </div>




  <%= simple_form_for([@garden, @plant]) do |f| %>
    <%= f.input :name %>
    <%= f.input :image_url %>
    <%= f.submit %>
  <% end %>


  <%= link_to 'Edit', edit_garden_path(@garden) %> |
  <%= link_to 'Back', gardens_path %>


</div>

